body{
    background-color: rgb(255, 53, 161);
    scrollbar-width: thin;
    
}
.hd{
    text-align: center;
    background-image: linear-gradient(to bottom, #ff692e, #2f00ff);
    color: transparent;
    -webkit-background-clip: text; /* For webkit browsers (Chrome, Safari) */
    background-clip: text;
    font-size: 2vw;
    font-stretch: condensed;
    font-weight:bold;
    letter-spacing: 5px;
    text-decoration: underline;
    
    
}
.letter{
    height: auto;
    width: 70rem;
    background: white;
    margin: auto;
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border-style: dashed;
    border-radius: 10px;
    border-color: rgb(137, 122, 50);
    padding: 30px;
    text-decoration: underline ;
    text-underline-offset: 8px;
}